.carousel{
    pointer-events: none;
}

.priceTag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: white;
    font-family: Roboto, Helvatica, sans-serif;
    font-weight: 600;
    height: 35px;
    width: 130px;
    
}

.promoTag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    font-family: Roboto, Helvatica, sans-serif;
    font-weight: 600;
    height: 25px;
    width: 130px;
    border-radius: 0 0px 0px 20px;
}

.carousel-item {
    height: 400px;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25%;
    margin-bottom: 20px;
    align-items: center;
}

.image {
    align-self: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 400px;
    height: 220px;
}

.text {
    margin: 10px;
}

ul {
    text-align: center;
    list-style-type: none;
}

li {
    font-weight: 500;
}

.carousel-control-next-icon {
    color: #e41d34;
    pointer-events: auto;
}

.carousel-control-prev-icon {
    color: #e41d34;
    pointer-events: auto;
    overflow: hidden;
}